.full-width {
  width: 100%;
}

@each $bName, $bSize in $breakPoints {
  @media (min-width: $bSize) {
    .fixed-width {
      @if ($bName == basic) {
        width: 100% !important;
      } @else {
        width: $bSize !important;
      }
      margin: auto;
    }
    @for $i from 1 through $grid {
      @if ($bName == basic) {
        .col-#{ $i } {
          width: 100% / $grid * $i !important;
          padding: $padding;
          float: left;
        }
      } @else {
        .col-#{ $bName }-#{ $i } {
          width: 100% / $grid * $i !important;
          padding: $padding; 
          float: left;
        }
      }
    }
    @for $i from 0 through $grid {
      @if ($bName != basic) {
        .pt-#{ $bName }-#{ $i } {
          padding-top: $padding * $i !important;
        }
        .pb-#{ $bName }-#{ $i } {
          padding-bottom: $padding * $i !important;
        }
        .pl-#{ $bName }-#{ $i } {
          padding-left: $padding * $i !important;
        }
        .pr-#{ $bName }-#{ $i } {
          padding-right: $padding * $i !important;
        }
        .p-#{ $bName }-#{ $i } {
          padding: $padding * $i !important;
        }
        .mt-#{ $bName }-#{ $i } {
          margin-top: $padding * $i !important;
        }
        .mb-#{ $bName }-#{ $i } {
          margin-bottom: $padding * $i !important;
        }
        .ml-#{ $bName }-#{ $i } {
          margin-left: $padding * $i !important;
        }
        .mr-#{ $bName }-#{ $i } {
          margin-right: $padding * $i !important;
        }
        .m-#{ $bName }-#{ $i } {
          margin: $padding * $i !important;
        }
      }
    }
    @if($bName != basic){
      .d-#{ $bName }-n {
        display: none;
      }
      .d-#{ $bName }-b {
        display: block;
      }
    }
  }
}

@each $name,$direction in $directions {
  @if ($name == null){
    @for $i from 0 through $grid {
      .p-#{ $i } {
        padding: $padding * $i;
      }
    }
  } @else {
    @for $i from 0 through $grid {
      .p#{ $name }-#{ $i } {
        padding-#{ $direction }: $padding * $i;
      }
    }
  }
}

@each $name,$direction in $directions {
  @if ($name == null){
    @for $i from 0 through $grid {
      .m-#{ $i } {
        margin: $padding * $i;
      }
    }
  } @else {
    @for $i from 0 through $grid {
      .m#{ $name }-#{ $i } {
        margin-#{ $direction }: $padding * $i;
      }
    }
  }
}

@each $name,$display in $displays {
  .d-#{ $name } {
    display: $display;
  }
}
